{% extends "base.html" %}
{% load static %}

{% block title %} หลนเค็มบักนัด {% endblock %}

{% block content %}

<div>
    <img class="mx-auto my-24 rounded-md" src="{% static 'image\N03\f03.jpg' %}" width="450px" >
    <h1 class="text-center text-3xl font-mitr ">  หลนเค็มบักนัด    </h1>
    <h3 class="my-4 text-1xl p-1 font-sarabun ">
        ที่มีในท้องถิ่นโดยใช้ส่วนผสมหลัก คือ เนื้อปลา ซึ่งปลาที่นำมาเป็นเค็มบักนัด ส่วนใหญ่จะเลือกใช้เนื้อปลาเทโพหรือปลาสวายติดหนัง นำมาหั่นเป็นชิ้นบางๆ 
        เป็นปลาจากแม่น้ำมูลที่ได้จากผืนดินของจังหวัดอุบลราชธานี แล้วนำมาคลุกเคล้ากับเกลือ เป็น “ เกลือสินเธาว์” จะเป็นเกลือจากที่อื่นหรือ “เกลือจากทะเล” 
        ไม่ได้เป็นอันขาด ถ้านำมาใช้จะเกิดการ “เน่าบูด เสียหาย” ไม่เป็น “เค็มบักนัด” ตามที่ต้องการ และหมากนัดก็ต้องเป็น”หมากนัดหม้อ” จากสวนในจังหวัดอุบลราชธานี 
        สับเนื้อหมากนัดสุกที่สับละเอียดไว้ คลุกเคล้าส่วนผสมทุกอย่างให้เข้าเป็นเนื้อเดียวกันแล้วบรรจุใส่ขวด ปิดฝาให้แน่น หมักดองเก็บไว้จนได้ระยะเวลาที่เหมาะสมก็สามารถนำมารับประทานได้ 
        และเนื่องจากเค็มบักนัดแปลงมาจากคำว่า เค็มหมากนัด เป็นภาษาท้องถิ่นชาวอีสานที่ใช้เรียกขานผลไม้ เช่น หมากนัด คือ สับปะรดแต่สำเนียงภาษาของชาวอุบลราชธานีออกเสียงสั้นไปบ้างจึงออกมาเป็นหมากนัดหรือบักนัด จึงตั้งชื่ออาหารว่า 
        “ เค็มบักนัด” เป็นอาหารพื้นเมืองของชาวอุบลราชธานีมาช้านาน

    </h3>

    <img class="mx-auto my-24 rounded-md" src="{% static 'image\N03\f031.jpg' %}" width="450px" >
    <h1 class="text-center text-3xl font-mitr ">  ประโยชน์ของสมุนไพรที่มีสรรพคุณต่อสุขภาพ    </h1>
    <h3 class="my-4 text-1xl p-1 font-sarabun ">
     สับปะรดหรือหมากนัด เป็นผลไม้เพื่อสุขภาพ ที่มีประโยชน์อยู่หลากหลาย เพราะอุดมไปด้วยแร่ธาตุและวิตามินต่าง ๆ จำนวนมาก และสรรพคุณสับปะรดทางสมุนไพรนั้น 
     ก็ช่วยรักษาอาการต่าง ๆ ได้อย่างหลากหลายเช่นกัน เพราะเป็นผลไม้ที่มีวิตามินซีจึงช่วยต้านหวัด เสริมสร้างระบบภูมิคุ้มกันในร่างกายให้แข็งแรง สับปะรดยังช่วย 
     ย่อยอาหารจึงแก้อาการท้องผูก ขับถ่ายได้เป็นอย่างดี และมีสรรพคุณช่วยลดความดันโลหิตสูงได้ อีกทั้งรสชาติของเค็มบักนัด จะมีรส เปรี้ยว เค็ม หวาน 
     ที่กลมกล่อมสามารถนำมาปรุงเป็นเมนูอาหารได้หลากหลาย โดยเฉพาะการทำหลนเค็มบักนัด ที่เครื่องปรุงล้วนเป็นสมุนไพรจากธรรมชาติ อาทิ หอมแดง ใบมะกรูด 
     พริกขี้หนู เป็นต้น มีสรรพคุณทางยาทำให้ระบบการเผาผลาญทำงานได้ดี ทำให้ความดันโลหิตต่ำ ลดไขมันในเลือดได้ดี 
     และยังมีส่วนช่วยกระตุ้นระบบการขับถ่ายให้ทำงานอย่างเป็นปกติอีกด้วย

    </h3>

    </h3>

    <img class="mx-auto my-24 rounded-md" src="{% static 'image\N03\f031.jpg' %}" width="450px" >
    <h3 class="my-4 text-2xl p-1 font-sarabun">
        จึงถือได้ว่า หลนเค็มบักนัด เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ของจังหวัดอุบลราชธานี มีความโดดเด่นและมีเอกลักษณ์ ของความเป็นไทย 
        เป็นกรรมวิธีในการถนอมอาหารของชาวบ้านอีสานสมัยโบราณที่สืบทอดกันมารุ่นต่อรุ่น อย่าง รสเค็มของเกลือสินเธาว์จากภูมิปัญญาในการต้ม 
        เนื้อปลาพื้นบ้านที่หาในแม่น้ำมูลได้ไม่ยาก และได้ความเปรี้ยว หวาน จากสับปะรดในพื้นถิ่นอีสาน ใช้ส่วนผสมจากวัตถุดิบธรรมชาติที่มีในท้องถิ่นที่ผสมผสานรวมกันอย่างลงตัว 
        จนกลายเป็นของหมักของดีถิ่นอีสาน ของจังหวัดอุบลราชธานี

    </h3>
</div>

{% endblock %}