{% extends "base.html" %}
{% load static %}

{% block title %} Producer {% endblock %}

{% block content %}




<div class=" mx-auto my-24 flex space-x-40" >
    <div class="mx-auto items-center box-border w-96 h-auto border-4 border-orange-400 p-4 text-center rounded font-athiti text-2xl "  >

        <img class="mx-auto rounded-md" src="{% static 'image\6611.jpg' %}"  width="250px" >
        <h2 class="font-semibold font-mitr-300">   นายฤทธิ์พงษ์ ทะยะราช  </h2>

            <h1 class="py-5 text-1xl font-sarabun ">
                id:66114640820 นักศึกษามหาวิทยาลัยอุบลราชธานี คณะวิทยาศาสตร์ ปี 2  งานอดิเรก:นอนไปวันๆ...
            </h1>
            
            <div class="flex space-x-8">
                    <h1 class="bg-purple-400 rounded">
                        SQL
                    </h1>
                    <h1 class="bg-yellow-300 rounded">
                        python
                    </h1>
                    <h1 class="bg-red-300 rounded">
                        html
                    </h1>
                    <h1 class="bg-gray-300 rounded">
                        C#M
                    </h1>
            </div>
                
    </div>
</div>


{% endblock content %}